{%extends "base.html"%}
{%block content%}
    <h1>welcome to my first flask</h1>
    <h2>this is the home route</h2><a link href = "/about">about page</a>
    <p>Favorite food: {{ foods }}</p>
    <p>Favorite fruit: {{ fruits }}</p>
    <form action = '/submit' method="post">
        <input type = 'text' name = 'username' placeholder = 'type in here'>
        <br><button type = 'submit'> click here</button></form>
        <input type = 'text' id = "txt">
        <button type = 'button' id = 'btn'> click me</button>
        <div id = 'box'></div>
    {%if loggedin %}<p>welcome back</p>
    {%else%}<P><h3>please log in</h3></P>{%endif%}{%endblock%}
    